# dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache
.yarn/install-state.gz
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
dist/
build/

# testing
coverage/
.nyc_output/
/test-results/
/playwright-report/
/playwright/.cache/

# misc
.DS_Store
.env.*.local
.idea
.history
.prettierrc
camouflage.log

tls/
stats.html

*storybook.log